# Python / cache
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Envs
.venv/
env/
venv/

# OS / editor
.DS_Store
.vscode/
.idea/

# Secrets
.env

# =====================
# Data
# =====================
# Ignore raw (big)
data/raw/
data/row/

# Keep clean + samples for demo
!data/clean/
!data/samples/

# Ignore CSVs by default, allow samples
*.csv
!data/samples/*.csv

# =====================
# Models
# =====================
# Keep models/*.pkl (required for demo)
